# These tasks will be merged into deployment graph. Here you
# can specify new tasks for any roles, even built-in ones.
- id: fuel-plugin-kubernetes
  type: group
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller, kubernetes-node]
  tasks: &common_tasks
    - hiera
    - setup_repositories
    - fuel_pkgs
    - globals
    - tools
    - logging
    - netconfig
    - hosts
  requires: [deploy_start]
  required_form: [deploy_end]
  parameters:
    strategy:
      type: parallel

#########################
# controller only tasks #
#########################
- id: fuel-plugin-kubernetes-keepalived
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller]
  requires: [netconfig]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/keepalived.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 1200

- id: fuel-plugin-kubernetes-nginx
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller]
  requires: [fuel-plugin-kubernetes-keepalived]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/nginx.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 1200

- id: fuel-plugin-kubernetes-etcd
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller]
  requires: [netconfig]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/etcd.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 1200

- id: fuel-plugin-kubernetes-flannel
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller, kubernetes-node]
  requires: [hiera, globals, netconfig]
  required_for: [deploy_end]
  cross-depends:
    - name: fuel-plugin-kubernetes-etcd
  parameters:
    puppet_manifest: "puppet/manifests/flannel.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 600

- id: fuel-plugin-kubernetes-apiserver
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller]
  requires: [netconfig]
  required_for: [deploy_end]
  cross-depends:
    - name: fuel-plugin-kubernetes-etcd
  parameters:
    puppet_manifest: "puppet/manifests/apiserver.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 1200

- id: fuel-plugin-kubernetes-kubectl
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller]
  requires: [globals, netconfig, fuel-plugin-kubernetes-controller]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/kubectl.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 300

- id: fuel-plugin-kubernetes-namespaces
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller]
  requires: [globals, netconfig, fuel-plugin-kubernetes-kubectl]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: "puppet/manifests/namespaces.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 300

- id: fuel-plugin-kubernetes-scheduler
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller]
  requires: [hiera, globals, netconfig]
  required_for: [deploy_end]
  cross-depends:
    - name: fuel-plugin-kubernetes-namespaces
    - name: fuel-plugin-kubernetes-nginx
    - name: fuel-plugin-kubernetes-apiserver
  parameters:
    puppet_manifest: "puppet/manifests/scheduler.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 600

- id: fuel-plugin-kubernetes-controller-manager
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller]
  requires: [hiera, globals, netconfig]
  required_for: [deploy_end]
  cross-depends:
    - name: fuel-plugin-kubernetes-namespaces
    - name: fuel-plugin-kubernetes-nginx
    - name: fuel-plugin-kubernetes-apiserver
  parameters:
    puppet_manifest: "puppet/manifests/controller_manager.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 600


######################
# tasks on ALL nodes #
######################
- id: fuel-plugin-kubernetes-docker
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller, kubernetes-node]
  requires: [hiera, globals, netconfig]
  required_for: [deploy_end]
  cross-depends:
    - name: fuel-plugin-kubernetes-flannel
  parameters:
    puppet_manifest: "puppet/manifests/docker.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 600

- id: fuel-plugin-kubernetes-proxy
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller, kubernetes-node]
  requires: [hiera, globals, netconfig]
  required_for: [deploy_end]
  cross-depends:
    - name: fuel-plugin-kubernetes-nginx
    - name: fuel-plugin-kubernetes-apiserver
  parameters:
    puppet_manifest: "puppet/manifests/proxy.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 600

- id: fuel-plugin-kubernetes-kubelet
  type: puppet
  version: 2.0.0
  role: [primary-kubernetes-controller, kubernetes-controller, kubernetes-node]
  requires: [hiera, globals, netconfig]
  required_for: [deploy_end]
  cross-depends:
    - name: fuel-plugin-kubernetes-flannel
    - name: fuel-plugin-kubernetes-nginx
  parameters:
    puppet_manifest: "puppet/manifests/kubelet.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 600




# TODO: remove this?
######################
# LP#1580295         #
######################
- id: setup_repositories
  type: puppet
  version: 2.1.0
  groups: ['/.*/']
  requires: [hiera, rsync_core_puppet]
  required_for: [fuel_pkgs]
  condition:
    yaql_exp: '($.uid in added($.network_metadata.nodes.values()).uid) or changed($.repo_setup)'
  parameters:
    puppet_manifest: /etc/puppet/modules/osnailyfacter/modular/fuel_pkgs/setup_repositories.pp
    puppet_modules: /etc/puppet/modules
    timeout: 600
