attributes:
  metadata:
    label: "Kubernetes plugin"
  internal_net:
    value: "10.246.0.0/16"
    label: "Internal network CIDR"
    description: "Network CIDR for configuration inside containers, used for interconnection betwen them"
    weight: 20
    type: "text"
    regex:
      source: '^(?:(?:[0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}(?:[0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\/([1-9]|[1-2]\d|3[0-2])$'
      error: "Invalid CIDR"
  networking:
    type: "radio"
    weight: 40
    value: "flannel"
    label: "Networking"
    values:
      - data: "flannel"
        label: "Flannel"
        description: "Default network setup with Flannel"
      - data: "calico"
        label: "Calico"
        description: "Calico via CNI plugin"
